@font-face {
  font-family: 'Microsoft YaHei';
  src: url('./yahei.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Microsoft YaHei';
  src: url('./yahei-bold.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Microsoft YaHei';
  src: url('./yahei-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
